
button {
   
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}
.btn img{
    height: 24px;
    width: 24px;
}
/* .card .jacket {
    height: 293px;
    width: 293px;
} */
.icon{
    height: 78px;
    width: 82px;
}
.shopping{
    height: 355px;
    width: 599px;
}
.faq{
    margin-top: 100px;
}