
button {
   
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
}
.btn img{
    height: 24px;
    width: 24px;
}

.icon{
    height: 78px;
    width: 82px;
}

.faq{
    margin-top: 100px;
}